<html>
<head>
</head>
<body>
<p>测试活动的发布</p>
<form action="/publishActivity" method="post">
<lable>actName</lable><input id="actName" name="actName" value="youah12jsadr" type="text"/>
</br>
<lable>actContent</lable><input id="actContent" name="actContent" value="就是这个活动" type="text"/>
</br>
<lable>actCategory</lable><input id="actCategory" name="actCategory" value="1" type="text"/>
</br>
<lable>actAddress</lable><input id="actAddress" name="actAddress" value="信雅达" type="text"/>
</br>
<lable>actCity</lable><input id="actCity" name="actCity" value="杭州" type="text"/>
</br>
<lable>actLongitude</lable><input id="actLongitude" name="actLongitude" value="37.422006" type="text"/>
</br>
<lable>actLatitude</lable><input id="actLatitude" name="actLatitude" value="-122.084095" type="text"/>
</br>
<lable>actLimitNum</lable><input id="actLimitNum" name="actLimitNum" value="10" type="text"/>
</br>
<lable>actStart</lable><input id="actStart" name="actStart" value="Tue, 4 Dec 2012 06:49:29 GMT " type="text"/>
</br>
<lable>actEnd</lable><input id="actEnd" name="actEnd" value="Tue, 4 Dec 2012 08:49:29 GMT " type="text"/>
</br>
<lable>acUid</lable><input id="acUid" name="acUid" value="you" type="text"/>
</br>
<input type="submit" value="submit"/>
</form>
<hr/>
<p>测试活动的加入</p>
<form action="/joinActivity" method="post">
<lable>actId</lable><input id="actId" name="actId" value="ACT135331519955485080" type="text"/>
</br>
<lable>acUid</lable><input id="acUid" name="acUid" value="you" type="text"/>
</br>
<input type="submit" value="submit"/>
</form>
<hr/>
<p>测试根据类别号进行搜索</p>
<form action="/getActivityOfCate" method="get">
<lable>actAddress</lable><input id="actAddress" name="actAddress" value="信雅达" type="text"/>
</br>
<lable>actCategory</lable><input id="actCategory" name="actCategory" value="1" type="text"/>
</br>
<input type="submit" value="submit"/>
</form>
<hr/>
<p>测试某个用户发布的活动</p>
<form action="/getActivityOfPublish" method="get">
<lable>acUid</lable><input id="acUid" name="acUid" value="you" type="text"/>
</br>
<input type="submit" value="submit"/>
</form>
<hr/>
<p>测试取得某个用户参加的活动</p>
<form action="/getActivityOfJoin" method="get">
<lable>acUid</lable><input id="acUid" name="acUid" value="you" type="text"/>
</br>
<input type="submit" value="submit"/>
</form>
<hr/>
<p>测试复杂搜索</p>
<form action="/getSpecificActivity" method="get">
<lable>actStartTime</lable><input id="actStartTime" name="actStartTime" value="Thu, 22 Nov 2012 06:49:29 GMT" type="text"/>
</br>
<lable>actStopTime</lable><input id="actStopTime" name="actStopTime" value="Thu, 22 Nov 2012 07:49:29 GMT" type="text"/>
</br>
<lable>actAddress</lable><input id="actAddress" name="actAddress" value="杭州" type="text"/>
</br>
<lable>actSearchAddress</lable><input id="actSearchAddress" name="actSearchAddress" value="信雅达" type="text"/>
</br>
<lable>ishot</lable><input id="ishot" name="ishot" value="1" type="text"/>
</br>
<input type="submit" value="submit"/>
</form>
<hr/>

             </br></br>
    用户第一次认证  注册 测试 
          <form action = '/register' method = 'post'>
            第三方平台UID
            <input type = 'text' name = 'thirdPlatUid' id = 'thirdPlatUid' value = '000001' >
          </br>
            第三方类型
            <input type = 'text' name = 'thirdPlatType' id = 'thirdPlatType' value = 'WB'  >
          </br>
            性别
            <input type = 'text' name = 'gender' id = 'gender' value = '0' ></br>
            qq
            <input type = 'text' name = 'qq' id = 'qq' value = '8211221212'></br>
            mail
            <input type = 'text' name = 'mail' id = 'mail' value = 'gumpggu@gmail.com' ></br>
            phone
            <input type = 'text' name = 'phone' id = 'phone' value = '18767104308' ></br>
            nickname 
            <input type = 'text' name = 'nickname' id = 'nickname' value = 'gumpg' ></br>
        <input type = 'submit' >
      </form></br>

  提交反馈意见测试
      <form action = '/feedback' method = 'post'>
        acUid：
        <input type = 'text' name = 'acUid' id = 'acUid' value = 'WB135357536961806705' >
      </br>
      content：
        <input type = 'text' name = 'feedContent' id = 'feedContent' value = '这个软件真他妈好用' >
      </br>
        <input type = 'submit' >
      </form>
    </br></br>
    查看某个用户信息
    提交 WB135357536961806705 用户
          <form action = '/WB135357536961806705/getInfo' method = 'get' >
      </br>
        <input type = 'submit' >
      </form>
    </br></br>
    用户对某个活动的提交的评论 测试
          <form action = '/postComments' method = 'post'  >
            actId
            <input type = 'text' name = 'actId' id = 'actId' value = 'ACT00001' ></br>
            acUid
            <input type = 'text' name = 'acUid' id = 'acUid' value = 'WB135357536961806705' ></br>
            comments
            <input type = 'text' name = 'comments' id = 'comments' value = '这个活动真好玩' > </br>
      </br>
        <input type = 'submit' >
      </form>
          </br></br>
    获取ACT00001活动的评论
          <form action = '/ACT00001/getComments' method = 'get'>
       </br>
        <input type = 'submit' >
      </form>
 </br></br>

    获取软件最新的版本号 （如果已经是最新的版本 返回 status：0）
          <form action = '/getUpdate' method = 'get'>
            <input type = 'text' name = 'currVersion' id = 'currVersion' value = '0.0.1' >
      </br>
        <input type = 'submit' >
      </form>


                </br></br>
    更新用户WB135357536961806705的联系方式 （这个用户ID要根据下面的注册的ID而确定）
          <form action = '/WB135357536961806705/updateInfo' method = 'post'>
            qq
            <input type = 'text' name = 'qq' id = 'qq' value = '8212121212' >
          </br>
          mail
            <input type = 'text' name = 'mail' id = 'mail' value = '123@qq.com'  >
      </br>
      phone
            <input type = 'text' name = 'phone' id = 'phone' value = '12345678901'  >
      </br>
        <input type = 'submit' >
      </form>



    活动详情
          <form action = '/getActivityByActId' method = 'get'>
            <input type = 'text' name = 'actId' id = 'actId' value = 'ACT135522970189835980' >
      </br>
        <input type = 'submit' >
      </form>


                </br></br>
   

</body>
</html>
